div.col.text-center p {
    float: right;
}

body {
    font-family: -webkit-pictograph;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #efeeed;
}