.btn-info {
    background-color: #fb940b !important;
    color: #fff !important;
}

div.d-flex.justify-content-around div a {
    color: #fb940b;
}

form.text-center.border.border-light.p-5 p a {
    color: #fb940b;
}